.nav {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    align-items: center;
    justify-content: space-between;
}
.item {
    display: flex;
    border-right: 1px solid #ccc;
    margin: 10px ;
    padding-right: 10px;

}
.link {
    color: #cccccc;
}
.name {
    margin: 10px;
    color: #cccccc;
}
.main-item {
    display: flex;
    flex-direction: row;
}
.item:last-child {
    border: none;
}